.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  font-family: Arial, sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2014/08/15/11/29/beach-418742_1280.jpg");
}

.container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  color: #fff;
}
